.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    padding: 1rem;
    background-color: #002f4b;
    font-family: "Source Serif Pro", serif;
    color: white;
  }
  
  .homeParent {
    display: flex;
    gap: 10rem;
    align-items: center;
    padding-left: 13rem;
  }
  
  .menuItem {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .callToGetContainer {
    text-align: center;
    font-size: 3rem;
  }
  
  .callToGet {
    text-align-last: center;
    padding-right: 2rem;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  
  }
  
  .logo {
    width: 400%;
    height: 400%;
  }
  
  @media (max-width: 768px) {
    .taskbar {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .homeParent {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  
    .callToGetContainer {
      text-align: left;
      margin-top: 1rem;
    }
  }
  
  

