.Homepage {
    width: 100%;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    text-align: left;
    font-size: 30px;
    color: #fff;
    font-family: 'Source Serif Pro';
  }
  
  .locationsParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    height: 6rem;
    gap: 30rem;
    background-color: #B8E1F5;
    color: #002f4b;
    text-wrap: nowrap;
  }

  .backgroundImageContainer {
    max-width: 0%;
    height: auto;
  }

  .poolImage {
    max-width: 0%;
    height: auto;
  }
  
  .hpsTitleContainer {
    font-size: 90px;
    text-align: center;
    width: fit-content;
    text-shadow: 1px 0 0 #5b5959, 0 1px 0 #5b5959, -1px 0 0 #5b5959, 0 -1px 0 #5b5959;
  }
  
  
  
  .contentContainer {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25%;
    align-items: center;
  }
  
  .descriptionContainer {
    width: 50%;
    font-size: 36px;
    color: #101526;
  }
  
  .mapContainer {
    width: 30%;
    text-align: right;
    color:#101526;
    text-align: center;
  }
  
  .poolMap {
    width: 100%;
    height: auto;
    object-fit: cover;
  }